location /dashboard/amsal-inventory/backend/api/public/ {
    try_files $uri $uri/ /dashboard/amsal-inventory/backend/api/public/index.php?$query_string;
}

location ~ \.php$ {
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_pass 127.0.0.1:9000;
}
